# Jekyll
_site/
.jekyll-metadata
.jekyll-cache/
*.jekyll-cache/
.jekyll-plugins/

# Bundler
vendor/bundle/
.bundle/
# Gemfile.lock  # biarkan tergantung kebijakan

# OS & Editor
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs
*.log
logs/

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
erb
erb
